In [1]:
mark = float(input("enter students mark : \n"))
print("the students marks : ", mark)

if mark > 75:
  print("grade : A")

elif 60 < mark < 75:
  print("grade : B")

elif 50< mark <60:
  print("grade : C")

elif 35< mark <50:
  print("grade : D")

else:
  print("fail")

print("thank you")

enter students mark :
70
the students marks :  70.0
grade : B
thank you

In [8]:
n = 7

a = n / 2
b= n / 3

print(a)
print(b)
if n % 2 == 0:
  print (" the n is divisble by 2")

if n % 3 == 0:
  print("the n is divisble by 3")

else:
  print("the n is not divisble by both 2 and 3")

3.5
2.3333333333333335
the n is not divisble by both 2 and 3

In [12]:
print("print odd number between 20 to 80")
for i in range(21, 80, 2):
  print(i)

print odd number between 20 to 80
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79

In [14]:
list1 = [1, 2, 3, 4, 5,  7, 8, 9, 10, 11, 12 , 13, 14, 15, 16, 17, 18, 19, 20]

for i in list1:
  print(i)

1
2
3
4
5
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [22]:
list1 = [1, 2, 3, 4, 5,  7, 8, 9, 10, 11, 12 , 13, 14, 15, 16, 17, 18, 19, 20]

for i in range(len(list1) -1, -1, -1):
  print(i)

18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [34]:
for i in range(21, 40, 2):
    cube = i ** 3
    print(f"The cube of {i} is {cube}")

The cube of 21 is 9261
The cube of 23 is 12167
The cube of 25 is 15625
The cube of 27 is 19683
The cube of 29 is 24389
The cube of 31 is 29791
The cube of 33 is 35937
The cube of 35 is 42875
The cube of 37 is 50653
The cube of 39 is 59319

In [35]:
name = ['sakshi', 'savi', 'varsha', 'sona', 'shravani']
age = [19, 20, 19, 20, 20]

for i,j  in zip(name, age):
    print(f"the name is {i} and age is {j}")

the name is sakshi and age is 19
the name is savi and age is 20
the name is varsha and age is 19
the name is sona and age is 20
the name is shravani and age is 20

In [55]:
list1 = ['a', 'b', 'c']

for i in list1:
  temp = list1[0]
  list1[0] = list1[2]
  list1[2]= temp

print(list1)

['c', 'b', 'a']

In [57]:
string = "hello sit"
count = 0
for char in string:
  count= count+ 1
print(f" the count is{count}")

 the count is9

In [58]:
x = 0
y=10
while x <= y:
  if x % 2 == 0:
    print(f"{x} is even")

  else:
    print(f"{x} is odd")
  x += 1

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [62]:
i = 1
while i <= 5:
    print("*" * i)
    i += 1

*
**
***
****
*****

In [63]:
numbers = []
i = 1
while i <= 20:
    numbers.append(i)
    i += 1

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [64]:

numbers = []
i = 20
while i >= 1:
    numbers.append(i)
    i -= 1

print(numbers)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [65]:
i = 1
while i <= 10:
    print(i)
    if i == 5:
        break
    i += 1

1
2
3
4
5