In [1]:
a= 10
b= 5
x=5.5
y=2.2
z=1j
print("add" ,a+b)
print("sub",x-y)
print("mult",a*b)
print("div" ,a/b)

add 15
sub 3.3
mult 50
div 2.0

In [10]:
a= int(input("enter value of a : "))
b= int(input("enter value of b : "))

add = a+b
sub = a-b

if add ==15:
    print("the addition successful")

if sub != 0:
  print("substraction is successful")

if a>b:
  print("a is greater than b")
else:
  print("a is smaller than b")

print(a<10 or b<10)
print(a>10 and b>10)

enter value of a : 10
enter value of b : 6
substraction is successful
a is greater than b
True
False

In [21]:
my_list= [1, 2, 3, 4, 5, 6]

print(my_list[2:5])
my_list.append(7)
print(my_list)
my_list.insert(3,9)
print(my_list)
my_list.remove(2)
print(my_list)
print(my_list.pop(5))
my_list.reverse()
print(my_list)
list1 = [11, 12, 13]
my_list.extend(list1)
print(my_list)

[3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 9, 4, 5, 6, 7]
[1, 3, 9, 4, 5, 6, 7]
6
[7, 5, 4, 9, 3, 1]
[7, 5, 4, 9, 3, 1, 11, 12, 13]

In [26]:
tuple1= [1.54, 2, 3, 'hi', 4]
print(tuple1[2:5])
print(tuple1[:3])
print(tuple1[::-1])
tuple2= [6, 7, 8]
concat= tuple1 + tuple2
print(concat)
tuple0= tuple1 * 2
print(tuple0)
count = len(tuple1)
print(count)
a = tuple1.index(3)
print(a)

[3, 'hi', 4]
[1.54, 2, 3]
[4, 'hi', 3, 2, 1.54]
[1.54, 2, 3, 'hi', 4, 6, 7, 8]
[1.54, 2, 3, 'hi', 4, 1.54, 2, 3, 'hi', 4]
5
2

In [31]:
set1= {1,2,3,4,5}
set2= {1, 12, 13, 14}

set1.add(7)
print(set1)
set1.remove(3)
print(set1)
a= set1.union(set2)
print(a)
b= set1.intersection(set2)
print(b)
c= set1.difference(set2)
print(c)

{1, 2, 3, 4, 5, 7}
{1, 2, 4, 5, 7}
{1, 2, 4, 5, 7, 12, 13, 14}
{1}
{2, 4, 5, 7}

In [36]:
dic = {"name" : "sakshi", "age" : 19, "city" : "kolhapur" }
a = dic.get("name")
print(a)

b = dic.get("city")
print(b)

c= list(dic.keys())
print(c)

d= list(dic.values())
print(d)

items = list(dic.items())
print(items)

up= dic.update({"city" : "pune"})
print(up)

pop= dic.pop("age")
print(pop)

sakshi
kolhapur
['name', 'age', 'city']
['sakshi', 19, 'kolhapur']
[('name', 'sakshi'), ('age', 19), ('city', 'kolhapur')]
None
19